<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Linux Dock</title>
	</head>
	<body>
		<div class="dock__container">
      <!-- Konsole -->
			<div class="dock__item active">
        <div class="image__container">
          <img src="../../assets/images/portraits/photo.png" alt="konsole">
        </div>
      </div>
      <!-- Projects -->
			<div class="dock__item minimized">
        <div class="image__container">
          <img src="../../assets/images/portraits/photo-2.png" alt="projects">
        </div>
      </div>
      <!-- Facebook -->
			<div class="dock__item">
        <div class="image__container">
          <img src="../../assets/images/portraits/photo-3.png" alt="facebook">
        </div>
      </div>
      <!-- Github -->
			<div class="dock__item minimized">
        <div class="image__container">
          <img src="../../assets/images/portraits/photo-4.png" alt="github">
        </div>
      </div>
      <!-- LinkedIn -->
			<div class="dock__item">
        <div class="image__container">
          <img src="../../assets/images/portraits/photo.png" alt="linkedIn">
        </div>
      </div>
		</div>
	</body>
</html>
