<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Comment Component</title>
</head>
<body>
  <div class="comments__list">
    <div class="comment__item">
      <div class="user__photo__container">
        <img src="../../assets/images/portraits/photo.png" alt="" height="50" width="50" />
      </div>
      <div class="column">
        <div>
          <div class="comment__box">
            <small>Mr. 0 Crocodile</small>
            <p>Wise words only for those people who have power.</p>
          </div>
          <div class="comment__actions">
            <div class="time">20 hrs</div>
            <div class="react">React</div>
            <div class="reply">Reply</div>
            <div class="reactions__count">❤ 9</div>
          </div>
        </div>
        <div class="view__prev">View previous 5 replies</div>
        <ul class="replies__list">
          <li>
            <img src="../../assets/images/portraits/photo-2.png" alt="" height="25" width="25" />
            <span class="username">Doflamingo</span>
            <p class="textLimit1">I don't know what is this all about.</p>
          </li>
          <li>
            <img src="../../assets/images/portraits/photo-3.png" alt="" height="25" width="25" />
            <span class="username">Arlong</span>
            <p class="textLimit1">Yeah, what are yelling about?</p>
          </li>
          <li>
            <img src="../../assets/images/portraits/photo-4.png" alt="" height="25" width="25" />
            <span class="username">Zoro</span>
            <p class="textLimit1">Hey, wth I'm here ?</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="comment__item">
      <div class="user__photo__container">
        <img src="../../assets/images/portraits/photo-4.png" alt="" height="50" width="50" />
      </div>
      <div class="column">
        <div>
          <div class="comment__box">
            <small>Injoker</small>
            <p>I am the beacon of knowledge, blazin' out to cross the black sea of ignorance.</p>
          </div>
          <div class="comment__actions">
            <div class="time">20 hrs</div>
            <div class="react">React</div>
            <div class="reply">Reply</div>
            <div class="reactions__count">❤ 5</div>
          </div>
        </div>
      </div>
    </div>

    <div class="comment__item">
      <div class="user__photo__container">
        <img src="../../assets/images/portraits/photo-3.png" alt="" height="50" width="50" />
      </div>
      <div class="column">
        <div>
          <div class="comment__box">
            <small>Lina the Slayer</small>
            <p>Is it me ? or it's getting hot in here.. :)</p>
          </div>
          <div class="comment__actions">
            <div class="time">20 hrs</div>
            <div class="react">React</div>
            <div class="reply">Reply</div>
            <div class="reactions__count">🔥 18</div>
          </div>
        </div>
      </div>
    </div>

    <div class="comment__add">
      <div class="user__photo__container">
        <img src="../../assets/images/portraits/photo-3.png" alt="" height="50" width="50" />
      </div>
      <form>
        <input type="text" placeholder="Add Comment ..." />
        <button type="submit"> > </button>
      </form>
    </div>
  </div>
</body>
</html>